{% style %}
  .section_wrapper_products{
      padding: 80px 40px;
      background: {{section.settings.section_bg}};
      min-height: 70vh;
  }
    #collection_wrapper_{{section.id}}{
       display: flex;
       gap: 60px;
    }
    .filter_wrapper_main{
      width:100%;
      max-width:400px;
    }
    .products_wrapper{
      width:100%;
    }
    .filter_wrapper_secondary{
        background: #ffffff;
        padding: 30px 30px;
        border: 1px solid #dddddd;
        border-radius: 3px;
    }
    .filter_labels{
        font-size: 16px;
        display :block;
        padding-bottom: 10px;
        border-bottom: 1px solid #ddd;
        margin-bottom: 10px;

    }
{% endstyle %}
<section class="section_wrapper_products">
  <div id="collection_wrapper_{{section.id}}">
    {% comment %} filter code start {% endcomment %}
    <div class="filter_wrapper_main">
      <div class="filter_wrapper_secondary">
        <h2>Filter</h2>

        <div>
          {% render 'collection-filters', collection: collection %}
        </div>
      </div>
    </div>
    {% comment %} filter code end {% endcomment %}
    {% comment %} product cards code start {% endcomment %}
    <div class="products_wrapper">
      <h1 class="">{{ collection.title }}</h1>
      <div class="row">
        {% for product in collection.products %}
          {% render 'product-card', product: product %}
        {% endfor %}
      </div>
    </div>
    {% comment %} product cards code end {% endcomment %}
  </div>
</section>
{% schema %}
{
  "name": "Collection",
  "settings": [
    {
      "type": "color",
      "id": "section_bg",
      "label": "Section bg color"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading"
    },
    {
      "type": "range",
      "id": "number_of_product_column_laptop",
      "min": 1,
      "max": 4,
      "step": 1,
      "default": 3,
      "label": "Product column laptop"
    },
    {
      "type": "range",
      "id": "number_of_product_column_desktop",
      "min": 1,
      "max": 6,
      "step": 1,
      "default": 6,
      "label": "Product column desktop"
    },
    {
      "type": "header",
      "content": "Section style"
    },
    {
      "type": "range",
      "id": "section_padding",
      "min": 0,
      "step": 1,
      "max": 100,
      "unit": "px",
      "default": 50,
      "label": "Section top bottom padding"
    }
  ],
  "presets": [
    {
      "name": "Featured collection"
    }
  ]
}
{% endschema %}
